html{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: small;
}

p {
    color: rgb(228, 245, 0);
    text-transform: capitalize;
    padding-top: 200px;
    font-size: x-large;

}

body{

    text-align: center;
    font-size: x-large;


}


a{
    padding-top: 0px;
    color: rgb(228, 245, 0);
    text-decoration: none;
 
    
}


a:hover{
    color: rgb(170, 170, 0);
    text-decoration: underline;
}

a:active{
    color: rgb(48, 46, 0);
    text-decoration: underline;
}


.flex-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    color: rgb(228, 245, 0);
    margin-bottom: 100px;
   }

.flex-container img{
    margin-left: 80px;
}

@media only screen and (max-width:414px){
  
    a{
        font-size: large;
       
    }

    .flex-container{
        margin-right: 70px;
    }

    img{

        height: 350px;
        width: 350px;
        margin-left: 80px;
    }

    h1{
        font-size: xx-large;
        margin-left: 32px;
    }


}



